services:
  server:
    image: aeolun/writer-server:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CLOUDFLARE_S3_ENDPOINT=${CLOUDFLARE_S3_ENDPOINT}
      - CLOUDFLARE_S3_ACCESS_KEY=${CLOUDFLARE_S3_ACCESS_KEY}
      - CLOUDFLARE_S3_SECRET_ACCESS_KEY=${CLOUDFLARE_S3_SECRET_ACCESS_KEY}
      - CLOUDFLARE_R2_API_TOKEN=${CLOUDFLARE_R2_API_TOKEN}
      - REDIS_URL=${REDIS_URL}
    networks:
      - default
      - caddy
    labels:
      caddy: writer.serial-experiments.com
      caddy.reverse_proxy: "{{upstreams 2022}}"
  reader:
    build:
      context: .
      dockerfile: apps/reader-solid/Dockerfile
    image: aeolun/writer-reader:latest
    environment:
      - READER_TRPC_URL=http://server:2022
      - SESSION_SECRET=${READER_SESSION_SECRET}
    expose:
      - "3000"
    networks:
      - default
      - caddy
    labels:
      caddy: reader.serial-experiments.com
      caddy.reverse_proxy: "{{upstreams 3000}}"
  redis:
    image: redis:latest

networks:
  caddy:
    external: true