@tailwind base;
@tailwind components;
@tailwind utilities;

.text-rainbow {
  background: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8f00ff
  );
  -webkit-background-clip: text;
  color: transparent;
}

.text-shadow-2px-2px-3px-black {
  text-shadow: 2px 2px 3px black;
}
